
<div *ngIf="afAuth.user | async as user; else showLogin2">
    
    <!--
    <ul>
        <li *ngFor="let item of items | async">
           {{ item | json }}
        </li>
      </ul>
    -->
<div class="Center">Signing Up As:</div>

        <dl >
            <dt class="Center">
                <a [routerLink]="['/signup','broker']" >
                 <button type="button" class="btn btn-primary btn-lg">Broker/Dispatcher</button>
                </a>
                </dt>
            <dd>  &nbsp;</dd>
            <dt class="Center">
                    <a [routerLink]="['/signup','owner']" >
                <button type="button" class="btn btn-primary btn-lg">Owner/Operator</button>
            </a>
            </dt>
                    
                <dd> &nbsp; </dd>
             <dt class="Center">
                    <a [routerLink]="['/signup','trucker']" >
                 <button type="button" class="btn btn-primary btn-lg">Trucker/Driver</button>
                </a>
                </dt>
                    
                 <dd>  &nbsp;</dd>
          </dl>

        </div>
    
  
     <ng-template   #showLogin2>
          <!-- <a [routerLink]="['/login']" class="button fancy-button"><i class="material-icons">account_circle</i>Sign In</a> -->
          
          <dl class="Center">
          <button  (click)="login()">Login</button>
        </dl>
        </ng-template>
   