
<div class="Center">{{title}} Sign Up Page</div>

<div>  &nbsp;</div>

<form  [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
 
    <div *ngIf="!truckerDiv">   
        <div class="Center">
          <label for="CompanyName">
            Company Name: 
          </label>
          <input id="CompanyName" type="text" formControlName="CompanyName">
        </div>
       
        <div class="Center">
          <label for="DispatcherName">
            Dispatcher Name:
          </label>
          <input id="DispatcherName" type="text" formControlName="DispatcherName">
        </div>
       
        <div class="Center">
                <label for="CompanyPhone">
                    Company Phone:
                </label>
                <input id="CompanyPhone" type="number" formControlName="CompanyPhone">
              </div>

              <div class="Center">
                    <label for="CompanyEmail">
                        Company Email:
                    </label>
                    <input id="CompanyEmail" type="email" formControlName="CompanyEmail">
                  </div>

                  <div class="Center">
                        <label for="CompanyAddress">
                            Company Address:
                        </label>
                        <textarea id="CompanyAddress" type="text" formControlName="CompanyAddress">
                        </textarea>
                      </div>
        </div>
<!--driver-->
    <div *ngIf="truckerDiv">

    <div class="Center">
        <label for="DriverName">
            Driver Name:
        </label>
        <input id="DriverName" type="text" formControlName="DriverName">
      </div>

      <div class="Center">
            <label for="Employer">
                Employer:
            </label>
            <input id="Employer" type="text" formControlName="Employer">
          </div>

          <div class="Center">
                <label for="Phone">
                    Phone:
                </label>
                <input id="Phone" type="number" formControlName="Phone">
              </div>

              <div class="Center">
                    <label for="Email">
                        Email:
                    </label>
                    <input id="Email" type="email" formControlName="Email">
                  </div>

                    <div class="Center">
                        <label for="Address">
                            Address:
                        </label>
                        <textarea id="Address" type="text" formControlName="Address">
                        </textarea>
                      </div>
                      <ul>
                            <li *ngFor="let i of item | async">
                               {{ i | json }}
                            </li>
                          </ul>
    
                    </div>

        <div class="Center">
        <button class="button " type="submit">Submit</button>
       </div>
      </form>