<p>job-confirm-page works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- Heading -->
    
    <div class="daydaco">
        <h1>
            DayDaco
        </h1>
    </div>

    <div class="notes">
        <button>
            
        </button>
    </div>

    <div class="anchor-links">
        <div class="up">
            <a href="">

            </a>
        </div>

        <div class="down">
            <a href="">

            </a>
        </div>
    </div>

    <!-- Job info -->

    <ul>
        <li>
            <div>
                Driver:
            </div>
        </li>
        
        <li>
            <div>
                Arrive at:
            </div>    
        </li>
        
        <li>
            <div>
                Arrive time:
            </div>
        </li>
        
        <li>
           <div>
                Job:
           </div>
        </li>
        
        <li>
            <div>
                Foreman:
            </div>
        </li>
        
        <li>
            <div>
                Destination: 
            </div>
        </li>
        
        <li>
            <div>
                Job ID:
            </div>
        </li>
        
        <li>
            <div>
                Contractor:
            </div>
        </li>
        
        <li>
            <div>
                Broker:
            </div>
        </li>
        
        <li>
            <div>
                OwnerOp:
            </div>
        </li>
    </ul>

    <div class="confirm">
        <button type="submit">
            Confirm Job
        </button>
    </div>
    

</body>
</html>

